<head th:fragment="baseHead(title, links)">

	<title th:replace="${title}">EmpleosApp | Aplicación para publicar Ofertas de Trabajo.</title>
    <!-- default styles-->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">

    <!-- placeholder for additional links -->
    <th:block th:replace="${links}">

</head>