<div th:fragment="pie-pagina" class="container">
  <p>
    &copy; 2019 EmpleosApp, Inc. | WebApp Desarrollada con Spring Boot 2.1.2 | Autor: Iv&aacute;n E. Tinajero D&iacute;az | &middot; <a href="#">Privacy</a>
    &middot; <a href="#">Terms</a>
  </p>
</div>
